/* React-App Styling */




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.jsx Styling / Main Styling */
.MainContainer {
  display:flex;
  height: 100%;
  width: 100%;
}


/* Layout.jsx Styling */
.NavigationContainer {
  display:flex;
  flex-direction:column;
  background-color:lightsalmon;
  min-width: 230pt;

  border-radius: 10pt;
  margin:8pt;
}

.NavigationTitle {
  align-self: center;
}



/* Home.jsx Styling */
.HomeContainer{
  display: flex;
  background-color: lightblue;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;

  border-radius: 10pt;
  margin:8pt;
}
.HomeContainer h1, b {
  align-self: center;
}
.HomeContainer p {
  align-self: flex-start;
  margin:10pt;
}


/* Weather.jsx Styling */
.WeatherContainer-Message {
  display:flex;
  flex-direction: column;
  background-color:red;
  min-width: 230pt;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  

  border-radius: 10pt;
  margin:8pt;
  padding-bottom:5pt;
}

.WeatherContainer-Display {
  display:flex;
  flex-direction: column;
  background-color:lightgray;
  min-width: 230pt;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  

  border-radius: 10pt;
  margin:8pt;
  padding-bottom:5pt;
}

.WeatherTitle {
  align-self: center;
}

.WeatherButton {
  
}

/* Spotify.jsx Styling */
.SpotifyContainer {
  display:flex;
  background-color:lightgreen;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;

  border-radius: 10pt;
  margin:8pt;
  
}

.SpotifyTitle {
  align-self: center;

}

.SpotifyDataContainer {
  display:flex;
  background-color: #61dafb;
  flex-direction: column;
  align-items: center;
  margin:8pt;
  border-radius: 5pt;
  padding-top:10pt;
  
}

.SpotifyForm {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.SpotifyCheckboxContainer {
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 10pt;

}

.SpotifySearchBar {
  margin-top:10pt;
  margin-bottom: 10pt;
}

.SpotifyWrongButton {
  margin-bottom:10pt;
}

.SpotifyTracks {
  margin-left:10pt;
  margin-top:5pt;
}

.SpotifyTrack {
  margin-top:5pt;
  margin-bottom:15pt;
  display:flex;
  flex-direction: column;
}

