/* React-App Styling */
.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.jsx Styling / Main Styling */
.MainContainer {
  display:flex;
  flex-shrink: 0;
  height:100%;
  flex-grow: 1;

}


/* Layout.jsx Styling */
.NavigationContainer {
  display:flex;
  flex-direction:column;
  background-color:green;
}

.NavigationTitle {

}


/* Home.jsx Styling */
.HomeContainer {
  background-color: blue;
  flex-grow: 1;
}

/* Contact.jsx Styling */
.ContactContainer {
  background-color:red;
  flex-grow: 1;
}


/* Weather.jsx Styling */
.WeatherContainer {
  background-color:gray;
}

.WeatherTitle {

}

/* Spotify.jsx Styling */
.SpotifyContainer {
  background-color:lightgreen;
  flex-grow: 1;
}
