/* React-App Styling */




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.jsx Styling / Main Styling */
.MainContainer {
  display:flex;
  height: 100%;
  width: 100%;
}


/* Layout.jsx Styling */
.NavigationContainer {
  display:flex;
  flex-direction:column;
  background-color:green;
  min-width: 200pt;
}

.NavigationTitle {

}


/* Home.jsx Styling */
.HomeContainer {
  background-color: blue;
  flex-grow: 1;
  flex-shrink: 0;
}

/* Contact.jsx Styling */
.ContactContainer {
  background-color:red;
  flex-grow: 1;
  flex-shrink: 0;
}


/* Weather.jsx Styling */
.WeatherContainer {
  background-color:gray;
  min-width: 230pt;
  flex-shrink: 0;
}

.WeatherTitle {

}

.WeatherButton {
  margin-top: 10pt;
}

/* Spotify.jsx Styling */
.SpotifyContainer {
  display:flex;
  background-color:lightgreen;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  
}

.SpotifyTitle {
  align-self: center;

}

.SpotifyCheckboxContainer {

}

.SpotifyDataContainer {
  background-color: pink;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.ArtistName {

}

.FollowerCount {

}

.GenreHeader {

}

.GenreList {

}

.ArtistImage {

}